# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Operating System
.DS_Store
Thumbs.db

# Project specific
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp

# Docker
.docker/

# InfluxDB
influxdb-data/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pth

# YOLOv5
yolov5/

# Environment variables
.env

# Any local configuration
config.local.yaml

# Ignore all .a files
*.a

# but do track lib.a, even though you're ignoring .a files above
!lib.a

# Ignore all files in any directory named temp
temp/

# ignore folder output
output/